<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Book to Store</h1>
    <form action="/books" method="POST">
    <input type="text" name="book" placeholder="Add Book"/>
    <input type="text" name="price" placeholder="Add Price"/>
    <input type="text" name="author" placeholder="Add author"/>
    <input type="submit">
    </form>


</body>
</html>